<%- include('_layouts/header', {title: 'Reset Password'}) %>

<style>
    .centered {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }


</style>

<div class="centered">

    <div class="row" <%= !showForm?'style=display:none':'' %>>
        <div class="col text-center">
            <img src="/static/images/logo.png" alt="logo">
        </div>
    </div>

    <div class="row m-3" <%= !showForm?'style=display:none':'' %>>
        <div class="col">
            <form method="post" id="passwordForm" >
                <input type="password" class="input-lg form-control col-12" name="password1" id="password1" placeholder="New Password" autocomplete="off">

                <br>
                <input type="password" class="input-lg form-control col-12" name="password2" id="password2" placeholder="Confirm Password" autocomplete="off">

                <br>
                <input type="submit" class="btn btn-primary btn-block col-12" data-loading-text="Changing Password..." value="Change password">
            </form>
        </div>
    </div>

    <div class="row">
        <div>
            <%- messages('_layouts/messages') %>
        </div>
    </div>

    <!--container-->
</div>

<%- include('_layouts/footer') %>
